# Setup

In [1]:
#dependecies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as sts

### Importing DFs

In [2]:
#variables for forloop
df_name_list = ['disney_plus_content_1.csv', 'disney_plus_content_2.csv', 'movies_per_streaming.csv', 'shows_per_streaming.csv']

#importing data
for i in range(len(df_name_list)):
    locals()[f"df_{i}"] = pd.read_csv(f"Resources/{df_name_list[i]}")

### Cleaning DF0

In [3]:
df_0.columns = map(str.title, df_0.columns)
df_0.head()

,Imdb_Id,Title,Plot,Type,Rated,Year,Released_At,Added_At,Runtime,Genre,Director,Writer,Actors,Language,Country,Awards,Metascore,Imdb_Rating,Imdb_Votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

### Cleaning DF1

In [4]:
df_1.columns = map(str.title, df_1.columns)
df_1.head()

,Show_Id,Type,Title,Director,Cast,Country,Date_Added,Release_Year,Rating,Duration,Listed_In,Description
0,s1,Movie,A Spark Story,"Jason Sterman, Leanne Dare","Apthon Corbin, Louis Gonzales",NaN,"September 24, 2021",2021,TV-PG,88 min,Documentary,Two Pixar filmmakers strive to bring their uni...
1,s2,Movie,Spooky Buddies,Robert Vince,"Tucker Albrizzi, Diedrich Bader, Ameko Eks Mas...","United States, Canada","September 24, 2021",2011,G,93 min,"Comedy, Fantasy, Kids",The puppies go on a spooky adventure through a...
2,s3,Movie,The Fault in Our Stars,Josh Boone,"Shailene Woodley, Ansel Elgort, Laura Dern, Sa...",United States,"September 24, 2021",2014,PG-13,127 min,"Coming of Age, Drama, Romance",Hazel and Gus share a love that sweeps them on...
3,s4,TV Show,Dog: Impossible,NaN,Matt Beisner,United States,"September 22, 2021",2019,TV-PG,2 Seasons,"Animals & Nature, Docuseries, Family",Matt Beisner uses unique approaches to modifyi...
4,s5,TV Show,Spidey And His Amazing Friends,NaN,"Benjamin Valic, Lily Sanfelippo, Jakari Fraser...",United States,"September 22, 2021",2021,TV-Y,1 Season,"Action-Adventure, Animation, Kids",Spidey teams up with pals to become The Spidey...

### Cleaning DF2

In [5]:
clean_df_2 = df_2.loc[df_2['Disney+'] == 1].drop(['Unnamed: 0', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], axis = 1)
clean_df_2.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Type,Directors,Genres,Country,Language,Runtime
270,271,White Fang,2018,7+,7.0/10,76/100,0,Randal Kleiser,"Adventure,Drama",United States,English,107.0
712,713,Muppets Most Wanted,2014,7+,6.4/10,67/100,0,James Bobin,"Adventure,Comedy,Crime,Family,Musical,Mystery","United States,United Kingdom","English,German",107.0
1330,1331,Zapped,2014,all,5.2/10,59/100,0,Atlee Kumar,"Action,Thriller",India,Tamil,172.0
1813,1814,The Blue Umbrella,2005,NaN,7.4/10,54/100,0,Vishal Bhardwaj,"Comedy,Drama,Family,Fantasy",India,Hindi,90.0
2029,2030,Sky High,2020,NaN,5.6/10,51/100,0,Mike Mitchell,"Adventure,Comedy,Family,Sci-Fi",United States,"English,Cantonese",100.0

### Cleaning DF3

In [6]:
clean_df_3 = df_3.loc[df_3['Disney+'] == 1].drop(['Unnamed: 0', 'Netflix', 'Hulu', 'Prime Video', 'Disney+'], axis = 1)
clean_df_3.head()

        ID                 Title  Year  Age    IMDb Rotten Tomatoes  Type
321    323  Beauty and the Beast  2012   7+  7.0/10          69/100     1
833    836              PJ Masks  2015  all  5.5/10          55/100     1
920    923                 X-Men  2011  16+  6.9/10          53/100     1
1219  1222         Gigantosaurus  2019  all  7.2/10          48/100     1
1580  1586      Inspector Gadget  2015  all  4.6/10          40/100     1

### Merging DFs

In [7]:
merged_df_01 = pd.merge(df_0, df_1, on = 'Title', how = 'outer')
merged_df_34 = pd.merge(clean_df_2, clean_df_3, on = 'Title', how = 'outer')
merged_df = pd.merge(merged_df_01, merged_df_34, on = 'Title', how = 'outer')
merged_df.head()

,Imdb_Id,Title,Plot,Type_x_x,Rated,Year,Released_At,Added_At,Runtime_x,Genre,...,Genres,Country,Language_y,Runtime_y,ID_y,Year_y,Age_y,IMDb_y,Rotten Tomatoes_y,Type_y_y
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",...,NaN,NaN,NaN,NaN,2323.0,2009.0,16+,7.3/10,67/100,1.0
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",...,NaN,NaN,NaN,NaN,5605.0,2019.0,7+,6.3/10,44/100,1.0
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",...,NaN,NaN,NaN,NaN,5695.0,1997.0,NaN,NaN,21/100,1.0
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",...,"Adventure,Comedy,Family","United States,United Kingdom,France",English,100.0,NaN,NaN,NaN,NaN,NaN,NaN

# Major Cleaning

In [8]:
merged_df.columns
# Type_x_x, Type_y_x, TypeXy, Type yy
# Imdb_Rating, IMDb_x,IMDB_y
# Director_x, Director_y, Directors, 
# Country_x, Country_y, Country, 
# Added_At, Date_Added
# Rated, Rating
# Runtime_x, Duration, Runtimey
# Released_At, Release_year, Yearx, Yeary
# Genre, Listed_In, Genres
# Plot, Description
# Languagex, Languagey
#Rotten Tomatatoes XY

# DROP: Released_At, Imdb_Id, Age_x, Age_y

Index(['Imdb_Id', 'Title', 'Plot', 'Type_x_x', 'Rated', 'Year', 'Released_At',
       'Added_At', 'Runtime_x', 'Genre', 'Director_x', 'Writer', 'Actors',
       'Language_x', 'Country_x', 'Awards', 'Metascore', 'Imdb_Rating',
       'Imdb_Votes', 'Show_Id', 'Type_y_x', 'Director_y', 'Cast', 'Country_y',
       'Date_Added', 'Release_Year', 'Rating', 'Duration', 'Listed_In',
       'Description', 'ID_x', 'Year_x', 'Age_x', 'IMDb_x', 'Rotten Tomatoes_x',
       'Type_x_y', 'Directors', 'Genres', 'Country', 'Language_y', 'Runtime_y',
       'ID_y', 'Year_y', 'Age_y', 'IMDb_y', 'Rotten Tomatoes_y', 'Type_y_y'],
      dtype='object')

In [9]:
merged_df = merged_df.drop(['Released_At', 'Imdb_Id', 'Age_x', 'Age_y'], axis = 1)

In [10]:
#finds all unique categorical data
merged_df['Type_x_x'].append(merged_df['Type_y_x']).append(merged_df['Type_x_y']).append(merged_df['Type_y_y']).unique()

array(['movie', 'series', nan, 'episode', 'Movie', 'TV Show', 0.0, 1.0],
      dtype=object)

In [16]:
merged_df[['Type_x_x', 'Type_y_x', 'Type_x_y', 'Type_y_y']].replace([series])

     Type_x_x Type_y_x  Type_x_y  Type_y_y
0       movie    Movie       NaN       1.0
1      series  TV Show       NaN       1.0
2       movie    Movie       NaN       1.0
3       movie      NaN       NaN       NaN
4       movie    Movie       0.0       NaN
...       ...      ...       ...       ...
1876      NaN      NaN       NaN       1.0
1877      NaN      NaN       NaN       1.0
1878      NaN      NaN       NaN       1.0
1879      NaN      NaN       NaN       1.0
1880      NaN      NaN       NaN       1.0

[1881 rows x 4 columns]

# Summary Statistics
- total # offerings
- breadth of offering? # of subcategories etc.
- min/max/mean of duration of
- seasons
- then per episode
- min/max/mean of ... 
- customer rating
- critical reception

# BY SUBCATEGORY ()
- total # offerings
- breadth of offering? # of subcategories etc.
- min/max/mean of duration of
- seasons
- then per episode
- min/max/mean of ... 
- customer rating
- critical reception